{% extends "cedul_app/site_base.html" %}

{% block title %}Create Event - {% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cedul_app/styles/create_event_style.css' %}" media="screen" />
{% endblock %}


{% block content %}

{% include "cedul_app/menubar.html" with page_title="Create Event" %}

    <div class="create-event-form rounded">
        <form action="" method="post">
            <ul>
            {{ create_event_form.as_ul }}
            </ul>
            {% csrf_token %}
            <input class="button" id="submit-button" type="submit" value="Create Event">
        </form>
    </div>

{% endblock %}