<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {{ event.event_name }}
            {% endblock %}
        </title>
    </head>
    
    {% block styles %}{% endblock %}
    
    <body style="margin: 0">
        <h1 id="header"><a href="/">Cedul</a><h1>

        <h2>{{ event.event_name }}</h2>
        <br>
        
        Attendees
        <ul>
        {% for a in event.attendee_set.all %}
            <li>{{ a.name }}</li>
                <ul>
                {% for dt in a.availableslot_set.all %}
                    <li>{{ dt }}</li>
                {% endfor %}
                </ul>
        {% endfor %}
        </ul>
    </body>
</html>
