{% extends "cedul_app/base.html" %}

{% block title %}Create Event - {% endblock %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cedul_app/styles/home_style.css' %}" media="screen" />
{% endblock %}
    
{% block content %}

    <p class="logo"><img src="{% static 'cedul_app/images/logo_200x200.png' %}" alt="logo" height="200" width="200"></p>
     
    <div class="centeredtext">Cedul</div>
    
    <div class="find-event">
        <form action="{% url 'event_redirect' %}" method='get'>
        <input class="key-input" type="text" placeholder="Event Key" name="public_key"/>
        <input class="button" id="find-event-button" type="submit" value="Find Event" />
        </form>         
    </div>

    <div class="create-event">
        <form action="{% url 'create_event' %}" method='get'>
        <input class="key-input" type="text" placeholder="Desired Key" name="public_key"/>
        <input class="button" id="create-event-button" type="submit" value="Create Event" />
        </form>
    </div>

{% endblock %}