<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Cedul
            {% endblock %}
        </title>
    </head>
    
    {% block styles %}{% endblock %}
    
    <body style="margin: 0">
        <h1 id="header"><a href="/">Cedul</a></h1>
        
        <h2>Welcome to the home page.</h2>

        <h3>Find an event</h3>
        <form action="{% url 'event_redirect' %}" method='get'>
		<label>Enter key: </label>
		<input type='text' name='public_key'/>
		{% csrf_token %}
		<input type='submit' value='Find Event' />
		</form>

		<h3>Create an event</h3>
        <form action="{% url 'create_event' %}" method='get'>
		<label>Desired key: </label>
		<input type='text' name='public_key'/>
		{% csrf_token %}
		<input type='submit' value='Create Event' />
		</form>
    </body>
</html>
